body{
    display: flex;
    flex-direction: column;
    background-color: lavender;
    width: 100%;
    height: 100vh;
    font-family: monospace;
}
main{
   width: 100%;
   height: 100%;
    display: flex;
    flex-direction: column;
}

#title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    Width: 70%;
    Height: 150px;
    margin-bottom: 30px;
    padding: 10px;
    background-color: skyblue;
    align-self: center;
}
h1{
    padding-top: 3%;
   
}

#selectbtn{
    align-self: center;
    width: 60%;
}

#content{
    align-self: center;
    width: 60%;
    justify-content: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
img{
    Width: auto;
    Height: 150px;
}
input{
    width: 400px;
}