body{
    display: flex;
    flex-direction: column;
    background-color: lavender;
    width: 100%;
    height: 100vh;
    font-family: monospace;
}
main{
   width: 100%;
   height: 100%;
    display: flex;
    flex-direction: column;
}

#title{
    display: flex;
    flex-direction: row;
    Width: 70%;
    Height: 150px;
    margin-bottom: 30px;
    padding: 10px;
    background-color: skyblue;
    align-self: center;
}
h1{
    padding-top: 3%;
    padding-left:50%;
}

#selectbtn{
    padding-left: 10%;
}

#content{
    padding-left: 10%;
    padding-right: 20%;
    justify-content: start;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}